
.table {
    background-color: white;
    margin-left: 50px;
    width:90%;
    border:1px solid;
    font-size: 20px;
}

.table-header {
    display:flex;
    width:100%;
    background:#000;
}

.table-row {
    display:flex;
    width:100%;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
    color:white;
}

.table-data {
    color: black;
}

.header__item {
    text-transform:uppercase;
}

.filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
}

.header 
{
    font-size: 30px;
    margin-left: 45%;
    color: white;
}

