@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;600&display=swap');

.active {
    text-decoration: underline;
}

.inactive {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }

  input {
    font-family: inherit;
    width: 90%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1rem;
    color: rgb(145, 57, 57);
    background: transparent;
    transition: border-color 0.2s;

    
    }

  input::placeholder{
    color:#d39999;
  }
  
/* HEADER DESIGN */
.bodyStyle {
    background-color: #ca3232;
    width: 100%; 
    font-family: 'Red Hat Display', sans-serif;
    padding: 0%;
    margin: 0%;
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    min-height: 100vh;
    
}

.title {
height: 20%;
margin-right: auto;
margin-left: auto;
}
.header_container {

  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url("header.jpg");
  color: #E0FBFC;
  height: 25%;
  display: grid; 
  grid-template-columns: 0.4fr 1.1fr 1fr; 
  grid-template-rows: 1.1fr 0.9fr; 
  gap: 0px 0px; 
  grid-template-areas: 
  "Img Name Slot1"
  "Img Name Slot2"; 
}
.Img 
{   grid-area: Img; 
margin-left: 60%;
margin-top: 20px;}
.Name 
{   grid-area: Name;
font-size: 30px;
margin-left: 0;
color:#ccc;
}
.Login 
{   grid-area: Slot1;
margin-left: 30%;
margin-top: 30px;
}
.Register { 
grid-area: Slot2;
margin-left: 30%;
}
.Home {
    grid-area: Slot1;
    margin-left: 30%;
    margin-top: 30px;
}

.Button {
    background-color: #d74a49;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
}

.button-1:hover, .button-1:focus 
{
    background-color: #ee7b7b;
}

.barBase 
{
    padding: 0px;
    margin-left: 0px;
    background: hsla(359, 68%, 22%, 1);
    background: linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);    
    background: -moz-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5D1213", endColorstr="#090303", GradientType=1 );
    color: #E0FBFC;
    height: 10%;
  }

.barButton {
    background: transparent;
    width: 200px;
    border:none;
    color: #FFFFFF;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: larger;
    height: 100%;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 70px;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}

.barItem 
{
    margin-top: 50%;
    margin-left: 20%;
}

/* SIGN IN */

.login_container {
    margin: 5% auto;
    border-radius: 15px;
    border-style: none;
    width:30%;
    height: 50%;
    background-color: #000;
    line-height: 4em;
  }
  .credential_labels { 
    padding-top: 3px;
    color: white;  
    font-size: 20px;
 }


 .credential_inputs {
    font-size: 20px;
    height: 30px;
    width: 250px;
    margin-top: -25px;
    color:#ccc;
    text-align: center;
    
 }
 .credential_inputs::placeholder{
  color:rgb(138, 137, 137);
 }

 .register_container {
  border-radius: 15px;
  border-style: none;
  width:400px;
  height: 550px;
  background-color: #000;
  
}

/* START PAGE */


.table {
    background-color: #dcdcdc;
    margin-left: 50px;
    width:90%;
    border:1px solid;
    font-size: 20px;
}

.table-header {
    display:flex;
    width:100%;
    background:#1a0606;
}

.table-row {
    display:flex;
    width:100%;
}

.table-data, .header__item {
    flex: 1 1 20%;
    text-align:center;
    color:white;
}

.table-data {
    color: black;
}

.header__item {
    text-transform:uppercase;
    color:white;
}

.filter__link {
    color:white;
    text-decoration: none;
    position:relative;
    display:inline-block;
}

.header 
{
    font-size: 30px;
    margin-left: 45%;
    color: white;
}


.selectBox {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #4b1313;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
  }

  .input-search{
    height: 35px;
    width: 400px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #dcdcdc;
    padding-right: 40px;
    color:#4b1313;
  }
  .input-search::placeholder{
    color:#4b1313;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
  }

/* SPORTS OBJECTS */
.objectGrid {  display: grid;
    display: grid; 
  grid-template-rows: 0.2fr 2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "objectSpec_grid"
    "objectTable_grid"; 
  }

  .objectsSort_grid{
    position:relative;
    top:30px;
  }
  
  .objectTable_grid { grid-area: objectTable_grid; }
  
  .objectSpec_grid {  
    margin-top:3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "objectFilter_grid objectSearch_grid";
    grid-area: objectSpec_grid;
  }
  
  .objectFilter_grid { 
    margin-left: 20%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "objFilter1_grid objFilter2_grid"; 
    grid-area: objectFilter_grid; 
}

.objFilter1_grid { grid-area: objFilter1_grid; }
.objFilter2_grid { grid-area: objFilter2_grid; }
  
  .objectSearch_grid { 
    grid-area: objectSearch_grid;
    margin-top:0%;
    margin-left: 35%;
}

.ascButton {
    border-radius: 2px;
    background: transparent;
    width:20px;
    height: 20px;
    border:none;
}

.descButton {
    border-radius: 2px;
    background: transparent;
    width:20px;
    height: 20px;
    border:none;
}
.objManager_grid {  display: grid;
  grid-template-columns: 0.7fr 0.3fr 0.02fr 0.2;
  grid-template-rows: 1fr 0.05fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "objInfoM_grid objContentM_grid deleteContent_grid commentsM_grid"
    "objInfoM_grid inputContent_grid . commentsM_grid"
    "objUpdate_grid addNewContent_grid . commentsM_grid";
}
  
  .objInfoM_grid { 
    grid-area: objInfoM_grid;
    width:100%;
    margin-left:15%;
}

.objUpdate_grid {
  grid-area: objUpdate_grid;
  margin-top: 2%;
  margin-left:25%;
}

.newContentForm_grid {
  grid: newContentForm_grid;

  margin-left:-50%;
}
  
  .objContentM_grid { 
    grid-area: objContentM_grid;
    margin-top:5%;
 }
  
  .addNewContent_grid { 
    grid-area: addNewContent_grid;
    margin-left:10%;
    margin-top:-20%;
}
  
  .commentsM_grid { 
    grid-area: commentsM_grid;
    margin-top:5%; }
  
    .objectInfo_grid {  display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "back_Btn2_grid basicInfo_grid basicInfo_grid . "
        "content_grid content_grid comments_grid comments_grid "
        "content_grid content_grid comments_grid comments_grid";
    }
    
    .content_grid { 
      grid-area: content_grid;
      margin-top:5%;
      margin-left:15%;
  }
    
    .comments_grid { 
      margin-top:5%;
      grid-area: comments_grid; 
  }
    
    .basicInfo_grid { 
      grid-area: basicInfo_grid;
      margin-left:-50%;
      margin-top:3%;
  }
    
    .back_Btn2_grid { grid-area: back_Btn2_grid;
    margin-top: 5%; }

    .updateObj_container {  display: grid;
      grid-template-columns: 0.2fr 2fr 0.5fr;
      grid-template-rows: 1fr 0.3fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "backBtn2_grid objInfo2_grid ."
        ". updateObjBtn_grid .";
    }

    .backBtn2_grid{
      grid-area: backBtn2_grid;
    }
    .objInfo2_grid{
      grid-area: objInfo2_grid;
    }
    .updateObjBtn_grid {
      grid-area:updateObjBtn_grid;
    }

    .addObj_container {  
      margin-top:3%;
      display: grid;
      grid-template-columns: 0.1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 0.1fr 0.1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "backBtn3_grid objInfo3_grid manager_grid"
        ". objInfo3_grid manager_grid"
        ". oldManager_grid manager_grid"
        ". addObjBtn_grid manager_grid";
    }
    
    .backBtn3_grid { grid-area: backBtn3_grid; }
    
    .objInfo3_grid { grid-area: objInfo3_grid; }
    
    .oldManager_grid { 
      grid-area: oldManager_grid;
      margin-left:50%;
    }
    
    .manager_grid { grid-area: manager_grid; }
    
    .addObjBtn_grid { grid-area: addObjBtn_grid; }
    


   .name_input {
    font-family: inherit;
    width: 90%;
    border: 0;
    outline: 0;
    font-size: 3rem;
    text-align: center;
    color: rgb(240, 230, 230);
    background: transparent;
    transition: border-color 0.2s;
   }


/* MEMBERSHIP */

.membership_grid {
    display: grid; 
  grid-template-columns: 1.1fr [x] 0.7fr; 
  grid-template-rows: 1fr 1.3fr 1.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "points_grid points_grid"
    "active_memberships_grid b1_grid"
    "active_memberships_grid b2_grid"; 
}
  .membership_buttons { grid-area: membership_buttons; }

.active_membership
{
    font-size: 25px;
    font-family: 'Red Hat Display', sans-serif;
    height: 70%;
    grid-area: active_memberships_grid; 
    
}
.points {
    grid-area: points_grid; 
}

.points_container {
    border-radius: 8px;
    margin-left: 41%;
    margin-top: 2%;
    border: 3px solid #4b1313;
    background-color: #dcdcdc;
    width: 20%;
    height: 40%;

}

.points_text { 
    grid-area: grid_name;
    color: #641616;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    font-size: 16px;
    
 }


.b1_mem {
    grid-area: b1_grid;
    margin-top: 8%;
}

.b2_mem {
    grid-area: b2_grid;
}

.objectView_container {
    border-radius: 8px;
    margin-left: 40%;
    width:50%;
    border: 2px solid #1a0606;
    display: grid; 
    background-color: #dcdcdc;
    grid-template-columns: 0.9fr [x] 0.9fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "grid_name grid_name"
      "headers values"; 
  }
  .grid_name { 
    font-weight: bold;
    grid-area: grid_name;
    background: hsla(359, 68%, 22%, 1);
    background: linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);    
    background: -moz-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5D1213", endColorstr="#090303", GradientType=1 );
    color: white;
    text-transform:uppercase;
    text-align: center;
    line-height: 90px;
    width: 100%;
    
 }
  .headers { 
    grid-area: headers;
    font-size: 20px;
    color:#1a0606;
 }
  .values { 
    grid-area: values;
    font-size: 20px;
    color:#1a0606;
 }


  .button2 {
    background-color: #1a0606;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
}

.mems_grid {
    display: grid; 
    grid-template-columns: 0.9fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "memTable_grid"
      "selectMem_Btn"; 
  }
  .memTable_grid { 
    grid-area: memTable_grid;
    width: 60%;
    margin-left: 25%;
    margin-top: 5%;
 }
  .selectMem_Btn { 
    grid-area: selectMem_Btn;
    margin-top: 2%;
    margin-left: 45%;

 }
 .selectedMem_grid {
    display: grid; 
    grid-template-columns: 0.7fr 2fr; 
    grid-template-rows: 2fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "back_Btn_grid selectedMem_info"
      ". chooseMem_btn"; 
  }
  .selectedMem_info { 
    grid-area: selectedMem_info;
    margin-left:-60%;
    margin-top:3%;
 }
  .chooseMem_btn { 
    grid-area: chooseMem_btn;
    margin-top:2%;
    margin-left: 15%;
 }
  .back_Btn_grid { grid-area: back_Btn_grid; }


  .back_img0 {
    width:10%;
     
}

.back_img {
    width:40px;
     height:40px;
}



  

  /* TRAININGS */

  .trainingsTrainer_grid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 2fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "personalTrainings_grid groupTrainings_grid "
      "cancelTraining_grid ."; 
  }
  .personalTrainings_grid { grid-area: personalTrainings_grid; }
  .groupTrainings_grid { grid-area: groupTrainings_grid; }
  .cancelTraining_grid { 
    grid-area: cancelTraining_grid;
    margin-left:30%;
 }
 

  .training_header {
    width:50%;
    border-radius: 4px;
    margin-left:30%;
    text-align: center;
    color: white;
    background: hsla(359, 68%, 22%, 1);
    background: linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);    
    background: -moz-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(359, 68%, 22%, 1) 0%, hsla(0, 50%, 2%, 1) 100%);
  }


  /* PROFILE */

  .profile_grid {  
    margin-top: 3%;
    display: grid;
    grid-template-columns: 0.05 2fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "profileBack_grid profileInfo_grid changePassBttn_grid"
      "profileBack_grid profileInfo_grid changeInfoBttn_grid";
  }

  .profileBack_grid { grid-area: profileBack_grid; }
  
  .profileInfo_grid { 
    margin-left:-30%;
    grid-area: profileInfo_grid; }
  
  .changePassBttn_grid { grid-area: changePassBttn_grid; }
  
  .changeInfoBttn_grid { grid-area: changeInfoBttn_grid; }
  

  .changePass_grid {  display: grid;
    grid-template-columns: 0.1fr 0.8fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "passBackBtn_grid passContainer_grid"
      ". passContainer_grid"
      ". changePassBtn_grid";
  }
  
  .passContainer_grid { grid-area: passContainer_grid; }
  
  .passBackBtn_grid { grid-area: passBackBtn_grid; }
  
  .changePassBtn_grid { grid-area: changePassBtn_grid; }
  

  .typeButtons {
    color:black;
    background-color: white;
    margin-left:31%;
    margin-top:2%;
    border-radius: 5px;
    width:500px;
    height:80px;
    font-size: larger;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.1fr 0.1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "manager_label trainer_label"
      "manager_radio trainer_radio"; 
  }
  .manager_label { grid-area: manager_label; }
  .trainer_label { grid-area: trainer_label; }
  .manager_radio { grid-area: manager_radio; }
  .trainer_radio { grid-area: trainer_radio; }